<div class='container'>
  <hr>
<h2>New Data</h2>
<form class="form-inline">
  <div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="demo.fname">
  </div>
  <div class="form-group">
    <label for="lname">Last Name:</label>
    <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="demo.lname">
  </div> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="">
  <button type="submit" class="btn btn-success" (click)="addstud()">save</button>
  </div>
</form>
<hr>
<h2>StudentInfo</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="400">Firstname</th>
      <th width="400">Lastname</th>
      <th width="200">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stud of student;let i=index">
      <td>{{stud.fname}}</td>
      <td>{{stud.lname}}</td>
      <td>
        <a class="btn btn-success" (click)="editstud(i)">EDIT</a>
        <a class="btn btn-danger" (click)="deletestud(i)">DELETE</a>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<h2>UpdateData</h2>
<form class="form-inline">
  <div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="demo1.fname">
  </div>
  <div class="form-group">
    <label for="lname">Last Name:</label>
    <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="demo1.lname">
  </div> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="">
  <button type="submit" class="btn btn-success" (click)="updatestud()">update</button>
  </div>
</form>
<hr>
</div>
